# Core
groq
streamlit==1.37.0
python-dotenv

# LLM & Agents
openai
langchain==0.2.16
langchain-openai==0.1.23
langchain-community==0.2.16

# RAG & Vector Store
chromadb==0.4.24
sentence-transformers

# OCR & Image Processing
easyocr
Pillow

# Database
sqlalchemy

# Utilities
pydantic==2.8.2
numpy<2